// styles.scss

$primary-color: salmon;
$accent-color: #27ae60;
$title-bg: orange;
$title-text: crimson;
$pink: rgb(115, 14, 51);

$step-padding: 1rem;

.alef-regular {
	font-family: 'Alef', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.alef-bold {
	font-family: 'Alef', sans-serif;
	font-weight: 700;
	font-style: normal;
}
.rubik-doodle-shadow-regular {
	font-family: 'Rubik Doodle Shadow', system-ui;
	font-weight: 400;
	font-style: normal;
}

body {
	@extend .alef-regular;
  font-size: 1.2em;
	background: #f9f9f9;
	color: #272726;
	margin: 40px;
	line-height: 1.6;
	max-width: 780px;
	margin: 0 auto;
	> div {
		margin-bottom: 28px;
	}
}

h1 {
	@extend .alef-bold;
	text-align: center;
	background: #eeaeca;
	background: linear-gradient(
		140deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 66%,
		rgba(232, 233, 148, 1) 98%
	);
}
h2 {
	@extend .alef-bold;
	color: #4778d4;
	color: $title-text;
	font-size: 2.4rem;
	margin: 0; // remove default top/bottom margins
	margin-bottom: $step-padding;
	width: auto; // let it size to its content
}
h3 {
	color: crimson;
	font-size: 10rem;
	float: right;
	margin-right: 100px;
}
.intro {
	text-align: center;
	background: #e8f5e9;
	padding: $step-padding;
	border-radius: 8px;
	margin-bottom: 30px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul {
	list-style: none;
	padding: 0;
	li {
		&::before {
			content: '• ';
			color: $accent-color;
		}
	}
}

.step {
	background: #ffe9e9;
	padding: $step-padding;
	margin-bottom: $step-padding;
}

.step-instruction {
	display: flex;
  flex-wrap: wrap;

	// align-items: center;
	gap: $step-padding;
}

.marg-top {
	margin-top: 1rem;
	overflow: hidden;
}

.gif-placeholder {
	flex: 1;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.gif-placeholder img {
	width: 100%;
	object-fit: fill; /* optional: keep image contained */
	display: block; /* remove inline spacing */
}

.step p {
	flex: 1;
	@extend .alef-regular;
	padding: 1rem;
  font-size: 48px;
	min-width: 160px;
	align-self: stretch;
	margin: 0;
	background-color: salmon;
	color: white;
}

.logo-title {
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	background: linear-gradient(90deg, #27ae60, #2ecc71);
	-webkit-background-clip: text;
	color: transparent;
	position: relative;
	margin: 40px 0;
	text-align: center;
}
.logo-title span {
	display: inline-block;
	font-size: 1.5rem;
	background: #27ae60;
	color: #fff;
	padding: 0.2em 0.5em;
	border-radius: 0.3em;
	margin-left: 0.5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.logo-title::after {
	content: '';
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 4px;
	background: #2ecc71;
	border-radius: 2px;
}

.subtitle {
	@extend .alef-bold;
	text-align: center;
	background: salmon;
	font-style: italic;
	color: white;
	width: fit-content;
	margin: 0 auto 2rem auto;
	padding: 4px;
	transition: all 0.2s ease-in;
}
